; SYNTAX TEST "source.latte" "Latte"

{* block comment *}
;^ comment.block.latte

{$variable}
;^ source.latte
; ^ variable.other.latte

{foreach $items as $item}
; ^^^^^^ keyword.control.pair.latte

{/foreach}
; ^^^^^^^ keyword.control.pair.latte

{if $x}
; ^^ keyword.control.pair.latte

{extends '../layout.latte'}
; ^^^^^^ keyword.control.single.latte

{true}
; ^^^ constant.language.latte

{42}
; ^ constant.numeric.latte

{'hello'}
; ^^^^^^ string.quoted.single.latte

{"world"}
; ^^^^^^ string.quoted.double.latte

{$name|upper}
; ^^^^ variable.other.latte
;     ^ keyword.other.latte
;      ^^^^^ keyword.other.latte

{$a->property}
;  ^^ keyword.operator.latte

{$iterator->counter}
;           ^^^^^^^ variable.other.member.latte

{$user->name|upper}
;       ^^^^ variable.other.member.latte
;           ^ keyword.other.latte
;            ^^^^^ keyword.other.latte

<li id="{$item}">test</li>
;        ^^^^^ variable.other.latte

<li id="{$item|capitalize}">test</li>
;        ^^^^^ variable.other.latte
;             ^ keyword.other.latte
;              ^^^^^^^^^^ keyword.other.latte

<li id="item-{$iterator->counter}">test</li>
;             ^^^^^^^^^ variable.other.latte
;                      ^^ keyword.operator.latte
;                        ^^^^^^^ variable.other.member.latte
